main {
  padding: 30px;
  /* setting font-size to 0 on the parent of a set of inline block elements removes white space between them.    */
  font-size: 0;
}

.inner {
  height: 100px;
  width: 25%;
  display: inline-block;
  font-size: 0;
}

.inner-one {
   background-color: blue;
}

.inner-two {
  background-color: green;
}

.inner-three {
  background-color: orange;
}

.inner-four {
  background-color: red;
}

